Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
Whoosh==2.7.4
pandas==2.2.2
openpyxl==3.1.5
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
